services:
  project_db:
    image: postgres:16
    container_name: project_db
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: project_api
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./alembic:/app/alembic
    depends_on:
      project_db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    command: >
      sh -c "uv run uvicorn src.main:app --host 0.0.0.0 --port 8000"

  migrator:
    build: .
    container_name: project_migrator
    env_file: .env
    depends_on:
      project_db:
        condition: service_healthy
    volumes:
      - ./src:/app/src
      - ./alembic.ini:/app/alembic.ini
    command: [ "uv", "run", "alembic", "upgrade", "head" ]
    restart: "no"

volumes:
  postgres_data:
